body{
  background-color: aliceblue;
}
.container {
  text-align: center;
}
.image{
  width: 50vw;
  margin-right:10px;
  box-shadow: 4px 4px 16px black;
}
.wrapper{
  margin: 30px; 
  display: flex;
  align-items: center;
}
.info{
  margin-left:10px;
  width: 50vw;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
.para{
  font-size: 150%;
  font-family: helvetica, arial;
}

.header{
  font-family:helvetica;
  margin-bottom: 30px;
  
}
h1.header{
  text-shadow: 2px 2px 4px rgb(169, 210, 245);
}